ion-content {
  --background: transparent;
}

ion-datetime {
  padding-top: 10px;
  height: 40px;
}

.add-jogador {
  --border-radius:10px;
}

.conteudo {
  width: 80%;
  margin: auto;
  max-width: 1000px;
  color: white;  
}

.nome {
  grid-area: nome;
}

.data {
  grid-area: data;
}

.ritmo {
  grid-area: ritmo;
}

.qtde-rodadas {
  grid-area: rodadas;
}

.descricao {
  grid-area: descricao;
}

.dados-gerais {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "nome data ritmo rodadas"
    "descricao descricao descricao descricao";
}

@media(max-width: 1000px) {
  .dados-gerais {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "nome nome nome data"
      "ritmo ritmo rodadas rodadas"
      "descricao descricao descricao descricao";
  }
}

@media(max-width: 600px) {
  .dados-gerais {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nome"
      "data"
      "ritmo"
      "rodadas"
      "descricao";
  }
}


.titulo-group {
  display: inline-block;
  // width: 100%;
  font-size: 1.5rem;
  font-weight: bold;  
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 1rem;  
}

.expanded::before{    
  content: url('../../assets/icon/expanded.png'); 
  vertical-align: middle;
}

.collapsed::before {
  content: url('../../assets/icon/collapsed.png'); 
  vertical-align: middle;
}

.rodadas, .jogadores{
  padding: 0px 0px 0px 10px;
  border-left: 2px solid white;
  max-height:1000px;
  transition: max-height 500ms ease-in-out;
}

.rodadas-hidden, .jogadores-hidden {  
  padding: 0px 0px 0px 10px;
  border-left: 2px solid white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
}

.titulo-rodada{
  text-decoration: underline;
}

.partidas, .lista-jogadores {
  background-color: transparent;
}

.partida, .jogador {
  --background: transparent;
}

a {
  text-decoration:none;
  color:white;
}

a:visited {
  color:white;
} 
a:hover {
  color: gray;
}

.resultado {
  display: block;
  font-size: .8rem;
  color: white;

}

.botoes {
  display: flex;
}

.btn-alinhado-direita{
 margin-left: auto;
}

.btn-alinhado-esquerda{
  margin-right: auto;
}



.flex {
  display: flex;  
  // justify-content: center;
  align-items: center;
}

.alinhado-centro{
  text-align: center;
}






