<ion-content [scrollEvents]="true">

  <form [formGroup]='torneioForm'>
    <div class="conteudo-router conteudo">
      <span class="titulo-group">Dados Gerais</span>
      <div class="dados-gerais">
        <ion-item class="nome" [disabled]="isIniciado()">
          <ion-label position="floating">Nome do Torneio</ion-label>
          <ion-input formControlName="nome" [value]="torneio?.nome"></ion-input>
        </ion-item>
        <ion-item class="data" [disabled]="isIniciado()">
          <ion-label position="floating">Data de Início</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="data_inicio">
          </ion-datetime>
        </ion-item>
        <ion-item class="qtde-rodadas" [disabled]="isIniciado()">
          <ion-label position="floating">Rodadas</ion-label>
          <ion-input formControlName="qtde_rodadas" type="string" [value]="torneio?.qtde_rodadas">
          </ion-input>
        </ion-item>
        <ion-item class="ritmo" [disabled]="isIniciado()">
          <ion-label position="floating">Ritmo</ion-label>
          <ion-input formControlName="ritmo" [value]="torneio?.ritmo">
          </ion-input>
        </ion-item>
        <ion-item class="descricao" [disabled]="isIniciado()">
          <ion-textarea formControlName="descricao" placeholder="Informe uma breve descrição sobre o torneio...">
          </ion-textarea>
        </ion-item>
      </div>

      <span class="titulo-group" *ngIf="isIniciado()">Rodadas</span>
      <div class="rodadas" *ngIf="isIniciado()">
        <div *ngFor="let vaRodada of torneio?.rodadas;index as i">
          <span class="titulo-rodada">Rodada {{vaRodada.numero}} - {{vaRodada.data_inicio|date:'dd.MM.y'}}</span>
          <ion-list class="partidas">
            <ion-item class="partida" *ngFor="let vaPartida of torneio.rodadas[i].partidas">
              <a href="{{vaPartida.link}}" [style.pointer-events]="vaPartida.link?'default':'none'"
                [style.cursor]="vaPartida.link ? 'pointer': 'default'">{{vaPartida.jogadorBrancas.nome}} VS
                {{vaPartida.jogadorNegras.nome}} {{vaPartida.resultado}}</a>
              <ion-button color="light" *ngIf="!vaPartida.resultado" slot="end" (click)="pegarResultado(vaRodada, vaPartida)">Pegar
                resultado</ion-button>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <span class="titulo-group">Jogadores</span>
      <div class="jogadores">
        <form *ngIf="!isIniciado()" [formGroup]='jogadorForm' (submit)="adicionarJogador()">
          <ion-item lines="none" class="add-jogador">
            <ion-input formControlName="username" placeholder="Username do Lichess"></ion-input>
            <ion-button color="light" type="submit" [disabled]="jogadorForm.invalid || torneioForm.invalid" size="small">Entrar no torneio
            </ion-button>
          </ion-item>

        </form>

        <ion-list class="lista-jogadores">
          <ion-item class="jogador" *ngFor="let vaJogador of torneio?.jogadores" lines="full">
            <ion-label color="light">
              {{vaJogador.nome}} ({{vaJogador.username}} - {{vaJogador.rating}})
            </ion-label>
            <ion-button [class.invisivel]="(!serverApi.isLogado()) ||(torneio?.status!=0)" color="dark" (click)="removerJogador(vaJogador)" size="small">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>

      <!--Usando o class.invisivel é melhor do que o ngIf pq com o ngIf da pra ver os botões aparecendo e depois sumindo-->
      <div class="botoes" [class.invisivel]="!serverApi.isLogado()">
        <ion-button class="btn-alinhado-esquerda" color="danger" (click)="excluir()">Excluir
          torneio
        </ion-button>

        <div class="btn-alinhado-direita">
         
          <ion-button *ngIf="!isIniciado() && (torneio?.jogadores?.length > 1)" color="ligth"
            (click)="iniciar()" fill="outline">Iniciar torneio
          </ion-button>
          <ion-button *ngIf="torneio?.status <= 1" [disabled]="torneioForm.invalid" color="light" (click)="salvarTorneio()">
            Salvar</ion-button>
        </div>
      </div>
    </div>
  </form>





  <!-- 
  <div *ngIf="torneio?.status==2">
    <p>1ª Lugar: {{ganhadores[0]?.nome}}</p>
    <p>2ª Lugar: {{ganhadores[1]?.nome}}</p>
    <p>3ª Lugar: {{ganhadores[2]?.nome}}</p>
  </div>
  <form [formGroup]='torneioForm'>
    <ion-item color="dark" [disabled]="torneio?.status>=1">
      <ion-label position="floating">Nome do Torneio</ion-label>
      <ion-input formControlName="nome" [value]="torneio?.nome"></ion-input>
    </ion-item>
    <ion-item color="dark" [disabled]="torneio?.status>=1">
      <ion-label position="floating">Quantidade de Rodadas</ion-label>
      <ion-input formControlName="qtde_rodadas" type="number" [value]="torneio?.qtde_rodadas">
      </ion-input>
    </ion-item>
    <ion-item color="dark" [disabled]="torneio?.status>=1">
      <ion-label position="floating">Tempo em minutos</ion-label>
      <ion-input formControlName="ritmo_minutos" type="number" [value]="torneio?.ritmo_minutos">
      </ion-input>
    </ion-item>
    <ion-item color="dark" [disabled]="torneio?.status>=1">
      <ion-label position="floating">Incremento</ion-label>
      <ion-input formControlName="ritmo_incremento" type="number" [value]="torneio?.ritmo_incremento">
      </ion-input>
    </ion-item>
    <ion-item color="dark" [disabled]="torneio?.status>=1">
      <ion-label position="floating">Data de Início</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="data_inicio">
      </ion-datetime>
    </ion-item>
  </form>
  <app-tab-control backgroundColor="var(--ion-color-dark)">
    <app-tab-bar backgroundColor="var(--ion-color-dark)" backgroundColorSelected="gray" activeIdentificador="rodadas">
      <app-tab-item label="Rodadas" icon="assets/icon/rodadas.svg" iconSelected="assets/icon/rodadas.svg"
        identificador="rodadas"> </app-tab-item>
      <app-tab-item label="Jogadores" icon="assets/icon/jogadores.svg" iconSelected="assets/icon/jogadores.svg"
        identificador="jogadores"></app-tab-item>
    </app-tab-bar>

    <app-tab-content identificador="rodadas">
      <div class="conteudo-ativo" *ngFor="let vaRodada of torneio?.rodadas;index as i">
        <p class="rodada">Rodada {{vaRodada.numero}} - {{vaRodada.data_inicio|date:'dd.MM.y'}}</p>
        <ion-list>
          <ion-item class="partida" *ngFor="let vaPartida of torneio.rodadas[i].partidas">
            <a href="{{vaPartida.link}}" [style.pointer-events]="vaPartida.link?'default':'none'"
              [style.cursor]="vaPartida.link ? 'pointer': 'default'">{{vaPartida.jogadorBrancas.nome}}
              ({{vaPartida.jogadorBrancas.username}}) VS
              {{vaPartida.jogadorNegras.nome}} ({{vaPartida.jogadorNegras.username}}) <br />{{vaPartida.resultado}}</a>
            <ion-button *ngIf="!vaPartida.resultado" slot="end" (click)="pegarResultado(vaRodada, vaPartida)">Pegar
              resultado</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </app-tab-content>

    <app-tab-content identificador="jogadores">
      <form class="conteudo-ativo" *ngIf="torneio?.status==0" [formGroup]='jogadorForm' (submit)="adicionarJogador()">
        <ion-item lines="none">
          <ion-input formControlName="username" placeholder="Username do Lichess"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="jogadorForm.invalid" size="small">Entrar no torneio
        </ion-button>
      </form>

      <ion-list>
        <ion-item *ngFor="let vaJogador of torneio?.jogadores" lines="full">
          <ion-label>
            {{vaJogador.nome}} ({{vaJogador.username}} - {{vaJogador.rating}})
          </ion-label>
          <ion-button *ngIf="torneio?.status==0" color="dark" (click)="removerJogador(vaJogador)" size="small">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </app-tab-content>
  </app-tab-control>
  <ng-container *ngIf="authService.isLogado">
    <ion-button expand="block" *ngIf="(torneio?.status == 0) && (torneio?.jogadores?.length > 1)" color="success"
      (click)="iniciar()">Iniciar torneio
    </ion-button>

    <ion-button expand="block" *ngIf="torneio?.status >= 0" color="danger" (click)="excluir()">Excluir torneio
    </ion-button>

    <ion-button expand="block" *ngIf="torneio?.status <= 0" [disabled]="torneioForm.invalid" color="primary"
      (click)="salvar()">Salvar</ion-button>
  </ng-container>
  <ion-button expand="block" color="secondary" (click)="voltar()">Retornar</ion-button>

   -->
</ion-content>
