<ion-content [scrollEvents]="true">

  <form [formGroup]='torneioForm'>
    <div class="conteudo-router conteudo">
      <span class="titulo-group">Dados Gerais</span>
      <div class="dados-gerais">
        <ion-item class="nome" [disabled]="isIniciado()">
          <ion-label position="floating">Nome do Torneio</ion-label>
          <ion-input formControlName="nome" [value]="torneio?.nome"></ion-input>
        </ion-item>
        <ion-item class="data" [disabled]="isIniciado()">
          <ion-label position="floating">Data de Início</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="data_inicio">
          </ion-datetime>
        </ion-item>
        <ion-item class="tipo" [disabled]="isIniciado()">
          <ion-label position="floating">Tipo</ion-label>
          <ion-select [value]="torneio?.tipo" interface="action-sheet" formControlName="tipo" >
            <ion-select-option value="0">Suiço</ion-select-option>
            <ion-select-option value="1">Pontos Corridos</ion-select-option>
          </ion-select>          
        </ion-item>
        <ion-item class="qtde-rodadas" [disabled]="isIniciado()">
          <ion-label position="floating">Rodadas</ion-label>
          <ion-input formControlName="qtde_rodadas" type="number" [value]="torneio?.qtde_rodadas">
          </ion-input>
        </ion-item>
        <ion-item class="ritmo" [disabled]="isIniciado()">
          <ion-label position="floating">Ritmo</ion-label>
          <ion-input formControlName="ritmo" [value]="torneio?.ritmo">
          </ion-input>
        </ion-item>
        <ion-item class="descricao" [disabled]="isIniciado()">
          <ion-textarea formControlName="descricao" placeholder="Informe uma breve descrição sobre o torneio...">
          </ion-textarea>
        </ion-item>
      </div>

      <div class="flex" *ngIf="isIniciado()">
        <span class="titulo-group {{panelExpandClass[0]}}" (click)="collapse(0)">Rodadas</span>
        <ion-button color="light" *ngIf="serverApi.isLogado()" size="small" (click)="processarTorneio()">Pegar resultados</ion-button>
      </div>
      
      <div [class]="panelClasses[0]" *ngIf="isIniciado()">        
        <div *ngFor="let vaRodada of torneio?.rodadas;index as i">
          <span class="titulo-rodada">{{montarTituloRodada(vaRodada)}}</span>
          <ion-list class="partidas">
            <ion-item class="partida" *ngFor="let vaPartida of torneio.rodadas[i].partidas">
              <div class="alinhado-centro">
                <a href="{{vaPartida.link}}" [style.pointer-events]="vaPartida.link?'default':'none'"
                [style.cursor]="vaPartida.link ? 'pointer': 'default'">{{vaPartida.jogadorBrancas.nome}} VS
                {{vaPartida.jogadorNegras.nome}}</a>              
                <span class="resultado">{{vaPartida.resultado}}</span>
              </div>              
            </ion-item>
          </ion-list>
        </div>
      </div>

      <span class="titulo-group {{panelExpandClass[1]}}" (click)="collapse(1)">Jogadores</span>
      <div [class]="panelClasses[1]">
        <form *ngIf="!isIniciado() && serverApi.isLogado()" [formGroup]='jogadorForm' (submit)="adicionarJogador()">
          <ion-item lines="none" class="add-jogador">
            <ion-input formControlName="username" placeholder="Username do Lichess"></ion-input>
            <ion-button color="light" type="submit" [disabled]="jogadorForm.invalid || torneioForm.invalid"
              size="small">Entrar no torneio
            </ion-button>
          </ion-item>

        </form>

        <ion-list class="lista-jogadores">
          <ion-item class="jogador" *ngFor="let vaJogador of torneio?.jogadores" lines="full">
            <div>
              <span>{{vaJogador.nome}} ({{vaJogador.username}})</span>
              <div>
                <span>{{vaJogador.pontos}} ponto(s)</span>
                <span>rating {{vaJogador.rating}}</span>
              </div>
            </div>
            <!-- <ion-label color="light">
              {{vaJogador.nome}} ({{vaJogador.username}} - {{vaJogador.pontos}})
            </ion-label> -->
            <ion-button *ngIf="(serverApi.isLogado()) && (torneio?.status<=0)" color="dark"
              (click)="removerJogador(vaJogador)" size="small">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
      
      <div class="botoes" *ngIf="serverApi.isLogado()">
        <ion-button class="btn-alinhado-esquerda" color="danger" (click)="excluir()">Excluir
          torneio
        </ion-button>

        <div class="btn-alinhado-direita">

          <ion-button *ngIf="isPermitidoIniciar()" color="ligth" (click)="iniciar()"
            fill="outline">Iniciar torneio
          </ion-button>
          <ion-button *ngIf="torneio?.status <= 1" [disabled]="torneioForm.invalid || salvando" color="light"
            (click)="salvar()">
            Salvar</ion-button>
        </div>
      </div>
    </div>
  </form>
</ion-content>