.rodada {
  color: white;
  text-decoration: underline;
  padding-left: 5px;
}


.conteudo-ativo,
.conteudo-ativo * {
  background-color: gray;
  color: white;
}

.partida,
.partida>a {
  text-align: center;
  text-decoration: none;
  font-size: .8rem;
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-list {
  background-color: gray;
}

ion-item {
  --background: gray;
}
