<ion-content color="dark">
  <ion-item lines="none" color="dark">
    <ion-checkbox (ionChange)="buscarTorneios()"></ion-checkbox>Exibir torneios anteriores
  </ion-item>
  <ion-button expand="block" routerDirection="forward" href="torneio">Criar novo torneio</ion-button>
  <ion-list>
    <ion-item *ngFor="let vaTorneio of torneios" color="dark" lines="full" button (click)="abrirTorneio(vaTorneio)">
      <ion-label>
        {{vaTorneio.nome}} - {{vaTorneio.data_inicio|date:"dd.MM.y"}}<br />
        <h6>{{vaTorneio.jogadores?.length}} jogadores {{vaTorneio.qtde_rodadas}} rodadas</h6>
      </ion-label>
      <ion-note slot="end" color="light">{{vaTorneio.getDescricaoStatus()}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
