ion-content {
  --background: transparent;
}

.imagem {
  margin-top: 2rem;
}

.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.novo-torneio{
  display: flex;
  margin: auto;
  width: fit-content;

}

.pesquisa {
 // display: grid;
//  grid-template-columns: 2fr 1fr;
display: flex;
flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px; 
  justify-content: center; 
 
}

.pesquisa ion-item {  
  --background: transparent;
  --background-focused:transparent;
  --background-activated:transparent;
  --color: white;  
}

.pesquisa-nome {
  flex-grow: 2;
}


.pesquisa ion-item ion-input{
  --color:white;
  text-align: center;
}

.pesquisa ion-label{
  padding-left: 1rem;
}

.linha {
  background-color: black;
  max-width: 33%;
  height: 2px;
  opacity: 1 !important;
}

.cards-torneio {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-torneio {
  margin: 5px;
  
  transition: transform .2s linear, z-index .2s linear;    
  transform: scale(1.0); 
  z-index: 1; 
}

.card-torneio:hover {
  transform: scale(1.1);
  z-index: 100; 
}


// ion-checkbox {
//   margin-right: 5px;
// }

// ion-button {
//   margin: 1rem;
// }

// ion-list {
//   background-color: var(--ion-color-dark);
// }
