<ion-content [scrollEvents]="true">
  <div class="conteudo-router">
    <img src="assets/torneios.svg" alt="" class="centro imagem">
    <hr class="centro linha" />

    <div *ngIf="serverApi.isLogado()">
      <ion-button class="novo-torneio" color="light" (click)="criarTorneio()">Criar novo torneio </ion-button>
    </div>

    <div class="pesquisa">
      <ion-item class="pesquisa-nome">
        <ion-input type="search" placeholder="Pesquisar pelo nome do torneio"
          (ionChange)="buscarTorneios()"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox color="dark" (ionChange)="pesquisar()"></ion-checkbox>
        <ion-label>Exibir finalizados</ion-label>
      </ion-item>
    </div>

    <div class="cards-torneio">
      <app-card class="card-torneio" *ngFor="let vaTorneio of torneios" [torneio]="vaTorneio"
        (click)="abrirTorneio(vaTorneio)"></app-card>
    </div>

  </div>
</ion-content>