ion-content {
  --background: transparent;
}

.imagem {
  margin-top: 2rem;
}

.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linha {
  background-color: black;
  max-width: 33%;
  height: 2px;
  opacity: 1 !important;
}

.cards-torneio {
  display: flex;
  flex-wrap: wrap;

}

.card-torneio {
  margin: 5px;
  
  transition: transform .2s linear, z-index .2s linear;    
  transform: scale(1.0); 
  z-index: 1; 
}

.card-torneio:hover {
  transform: scale(1.1);
  z-index: 100; 
}


// ion-checkbox {
//   margin-right: 5px;
// }

// ion-button {
//   margin: 1rem;
// }

// ion-list {
//   background-color: var(--ion-color-dark);
// }
