.menu {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  background: none;
  background-color: transparent;
  z-index: 1;
  color: white;
  width: 100%;
}

.login {
  
  margin-left: auto;
}


span {
  font-size: 2rem;
}

ion-icon {
  font-size: 32px;
  min-width: 32px;
  padding: 2px;
}

ion-tab-button {
  max-width: none !important;
}

.tab-selected {
  span {
    font-size: 2.2rem;
  }
}


