<ion-app>
  <!--Ionic Tab funciona como um ion-router-outlet-->
  <ion-tabs>
    <ion-tab-bar slot="top" color="dark">
      <ion-tab-button tab="home" layout="icon-start" activated>
        <ion-icon src="assets/icon/home.svg"></ion-icon>
        <span>Início</span>
      </ion-tab-button>

      <ion-tab-button tab="torneios" layout="icon-start">
        <ion-icon src="assets/icon/torneio.svg"></ion-icon>
        <span>Torneios</span>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
