.icon-home {
  height: 2.5rem;
  cursor: pointer;
}

.label-home:hover+input+label {
  text-decoration: underline;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem 1rem;
  display: flex;
  background: rgba(39, 38, 38, 0);
  //background: black;
  // background-color: transparent;
  z-index: 1;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  
}

.menu-item {
  display: none;
}

.menu-item+label {
  // text-decoration: none;  
  padding-left: 0.5rem;
  cursor: pointer;
}

.menu-item:checked+label {
  text-decoration: underline;
  font-weight: bold;
}

label:hover {
  text-decoration: underline;
}



.menu-item+label:last-child {
  margin-left: auto;
}

.login {
  margin-left: auto;
}

// ion-button {
//   --background-hover:red;
//   --color-hover:red;
//   --color:yellow;
// }
