<ion-content>
  <div class="principal">
    <div class="conteudo">
      <div class="conteudo-descricao">
        <span class="titulo">Junte-se a nós e evolua !</span>
        <span class="descricao-grupo">XadrezMineiros é um grupo de pessoas de Mineiros-GO apaixonadas pelo jogo de xadrez que se reuniram em prol da evolução mútua e disseminação do esporte.</span>
        <div class='social'>
          <ion-button (click)="onClick()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <ion-button (click)="onClick()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>

          <ion-button class="torneios">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </div>
      </div>
      <img class="conteudo-logo" src="assets/logo_linhas.png">      
    </div>
  </div>

</ion-content>
