.principal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #000000 0.6%, rgba(255, 255, 255, 0) 98.62%), #838383;
}

.conteudo {
  display: flex;
  padding-top: 100px;
  height: 100%;
  color: white;
  margin: 0 5vw 0 5vw;
}

.conteudo-descricao {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-right: auto;
}


.conteudo-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  max-width: 50vw;
  max-height: 80vh;
}

.titulo {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  padding-top: 50px;

}

.descricao-grupo {
  font-size: 22px;
  line-height: 29px;
  padding-top: 5vh;
}

.social {
  display: flex;
}

.torneios {
  margin-left: auto;
}
