
ion-content{
  --background:transparent;
}

.conteudo {
  display: flex;  
  height: 100%;
  color: white;
  margin: 0 5vw 0 2vw;
  justify-content: space-between;
}

.conteudo-descricao {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

@media screen and (max-width:1000px) {
  .conteudo {
    flex-direction: column-reverse !important;
  }

  .conteudo-descricao {    
    width: 100% !important;
  }

  .conteudo-logo {
    align-self: center;
    max-width: 95vw !important;
    height: 50vh;
  }

  .social-icon {
    width: 55px !important;
    height: 55px !important;;    
  }

  .titulo {    
    font-size: 3.5rem !important;;
    padding-top: 10px !important;
    line-height: 32px !important;;
  }

  .descricao-grupo {
    font-size: 1rem !important;;
    line-height: 15px !important;;
    padding-top: 4vh !important;;
  }

  .torneios {
    height: 2.2em !important;
    font-size: 15px !important;
    --border-radius: 5px;
  }
}


.conteudo-logo {
  max-width: 50vw;
  max-height: 80vh;
}

.titulo {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  line-height: 64px;
  padding-top: 50px;

}

.descricao-grupo {
  font-size: 1.5rem;
  line-height: 29px;
  padding-top: 8vh;
}

.social {
  display: flex;
  align-items: center;
  padding-top: 8vh;
}

.social-icon {
  width: 85px;
  height: 85px;
  cursor: pointer;
  margin-right: 3vw;
  //usei o site https://codepen.io/sosuke/pen/Pjoqqp para gerar o filter para cor que eu queria
  //filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(49deg) brightness(99%) contrast(107%);
}

.torneios {
  margin-left: auto;
  --border-radius: 10px;
}
